<!DOCTYPE html>
<html lang="en">
<head>
    <!--Josefin sans  -->
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>

    <!--Font awesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!--GLIDER CSS-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--    My CSS-->
    <link rel="stylesheet" href="/stylesheets/event_template.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <meta charset="UTF-8">
    <title>Templates</title>
</head>
<body>

<%- include("partials/navbar") %> 

    <!--Scrollspy-->
<div class="sidenav">
    <nav id="navbar-example3" class="navbar navbar-light" style="margin-top: 5rem">
        <a class="navbar-brand" href="#">RECOMMENDATIONS</a>
        <% var i = 1 %>
        <% vendors.forEach(vendor => { %> 
            <nav class="nav nav-pills flex-column" >
                <a class="nav-link" href="#item-<%= i %>"><%= vendor.service.toUpperCase() %> </a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ml-3 my-1" href="#item-<%= i %>-1" style="color: gray;"><%= vendor.name %> </a>
                </nav>
            </nav>
            <% i++ %> 
        <% }) %>
    </nav>    
</div>
<!--End of scrollspy-->
<% if (success && success.length) { %>
    <div class="alert alert-success alert-dismissable fade show" role="alert" style="margin-top: 6rem;">
        <%= success %> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>
<% if (error && error.length) { %>
    <div class="alert alert-danger alert-dismissable fade show" role="alert" style="margin-top: 6rem;">
        <%= error %> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>
<!--Side scroll-->
<div data-spy="scroll" data-target="#navbar-example3" data-offset="0" style="padding-bottom: 30vh">
    <% i = 1 %> 
    <% vendors.forEach(vendor => { %>
        <h1 id="item-<%=i%>"><%= vendor.service.toUpperCase() %> </h1>
        <p id="item-<%= i %>-1"></p>
        <section id="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 ">
                        <div class="card">
                            <img src="<%= vendor.images[0] %> " alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title"><%= vendor.name %> </h5>
                                <p class="card-text"><%= vendor.description.substring(0, 150)%>...</p>
                                <a href="/show/<%=vendor._id%>" class="btn btn-outline-success btn-sm">View more</a>
                                <button class="btn btn-outline-warning btn-sm" disabled><%= vendor.avgStar %> <i class="fa fa-star"></i></button>
                                <form action="/mail/<%= currentUser._id%>/<%= vendor._id%>" method="post" style="margin: 0; display: inline;">
                                    <button type="submit" class="btn btn-outline-info btn-sm"><i class="fa fa-envelope"></i> Contact them</button>
                                </form>
                                <% i++ %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
    <% }) %>    
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


<script type="text/javascript" src="/js/event_template.js"></script>

</body>
</html>